<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bird Details</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<nav class="navbar">
    <div class="logo">Winged Waypoints</div>
    <div class="navlinks">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/myWaypoints}">My Winged Waypoints</a>
    </div>
</nav>

<div class="bird-card" th:if="${bird != null}">


    <div class="card-titles">
        <h2 th:text="${bird != null ? bird.commonName : 'Bird Details'}">Blue Jay</h2>
        <h4><span th:text="${bird.speciesName}">Cyanocitta cristata</span></h4>
    </div>

    <div class="details">
        <p><strong>Color:</strong> <span th:text="${bird.color}">Blue</span></p>
        <p><strong>Common Locations:</strong> <span th:text="${bird.defaultLocation}">Ohio</span></p>
        <p><strong>Description:</strong> <span th:text="${bird.description}">this is a test description</span></p>



        <!-- Date Seen - uncomment when the connections have been made
        <div class="date">

            <label><strong>Date Seen:</strong>
                <input type="date" name="dateSeen" />
            </label><br>
        </div>-->

        <!-- Images - uncomment when the connections have been made - more styling may be needed
        <div class="image">
            <label><strong>Photos:</strong>
                <div>
                    <img th:each="img : ${bird.images}" th:src="@{${img.url}}" alt="Bird photo" width="200" />
                </div>
            </label><br>
        </div>
    </div>-->

    <div class="details-buttons">
        <form th:action="@{'/birds/save/' + ${bird.birdId}}" method="post">
            <button type="submit">Save</button>
        </form>
        <a href="#" onclick="history.back(); return false;">Back</a>
    </div>

</div>

    <section class="alert" th:if="${bird == null}">
        <p>Bird not found.</p>
    </section>
</div>
</body>
</html>