<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Winged Waypoints</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar">
        <div class="logo">Winged Waypoints</div>
        <div class="navlinks">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/myWaypoints}">My Winged Waypoints</a>
        </div>
    </nav>

    <!-- Header -->
    <h1>My Winged Waypoints</h1>

    <!--error-->
    <div class="alert" th:if="${loadError}">
        Could not load birds.
    </div>

    <form method="get" th:action="@{/myWaypoints}">

        <!-- Search -->
        <input type="text" name="q" placeholder="Search birds..." th:value="${q}"/>

        <!-- Color Filter --> <!--need to add a list of selectable colors-->
        <select name="color">
            <option value="">Color</option>
            <option th:each="color : ${colors}"
                    th:value="${color}"
                    th:text="${color}"
                    th:selected="${color == selectedColor}">
            </option>
        </select>

        <!-- Location Filter--> <!--need to add a list of selectable locations-->
        <select name="location"><!--onchange="this.form.submit()"-->
            <option value="">Location</option>
            <option th:each="loc : ${locations}"
                    th:value="${loc}"
                    th:text="${loc}"
                    th:selected="${loc == selectedLocation}">
            </option>
        </select>

        <button type="submit">Search</button>

    </form>


    <div class="bird-list" th:if="${birds != null}">

        <div class="bird-card" th:each="bird : ${waypoints}">

            <div class="card-titles">
                <h2 th:text="${bird.commonName}">Blue Jay</h2>
                <h4><span th:text="${bird.speciesName}">Cyanocitta cristata</span></h4>
            </div>

            <div class="card-body">

                <div class="details">
                    <p><strong>Color:</strong> <span th:text="${bird.color}">Blue</span></p>
                    <p><strong>Common Locations:</strong> <span th:text="${bird.defaultLocation}">Ohio</span></p>
                    <p><strong>Description:</strong> <span th:text="${bird.description}">this is a test description</span></p>
                    <p><strong>Date Seen:</strong> <span th:text="${entry.dateSeen}">2025-11-17</span></p>
                </div>

                <div class="buttons">
                    <a th:href="@{'/birds/details/' + ${bird.birdId}}">Details</a>
                    <form th:action="@{'/mylist/remove/' + ${bird.birdId}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

    <!--
        <tr th:each="bird : ${waypoints}">
            <td th:text="${bird.birdId}">1</td>
            <td th:text="${bird.commonName}">Blue Jay</td>
            <td th:text="${bird.speciesName}">Cyanocitta cristata</td>
            <td th:text="${bird.color}">Blue</td>
            <td th:text="${bird.defaultLocation}">Ohio</td>
            <td th:text="${entry.dateSeen}">2025-11-17</td>
            <td>-->

    <p class="alert" th:if="${birds != null and #lists.isEmpty(birds)}">No birds found.</p>
</body>
</html>


