spring:
  datasource:
    url: jdbc:h2:file:./data/birdlife;MODE=MySQL;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.create_namespaces: true
  h2:
    console:
      enabled: true
      path: /h2
  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    cache: false

springdoc:
  api-docs.path: /api/docs
  swagger-ui.path: /swagger

server:
  port: 8080
